/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}




body {
  font-family:Arial;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(145, 145, 145);
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
}

.app-header {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;
  background: #336699;
}
.app-title {
  font-size: 28px;
  line-height: 40px;
  padding: 0px;
  margin: 0px;
  color: #fff;
  text-shadow: 1px 1px 3px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
.app-headline {
  color: #999;
  font-size: 15px;
}

.app-body {
  margin-top: 40px;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.archive-control {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 22px;
  line-height: 22px;
  padding: 5px 0px 5px 10px;
  margin-bottom: 50px;
  background: #ecf0f1;
}

ul {
  list-style: none;
  padding-left: 0;
  padding: 10px;
}
ul li {
  line-height: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-form {
  padding: 10px;
  text-align: center;
}

input[type="text"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  height: 30px;
  width: 100%;
  max-width: 400px;
}

input[type="submit"] {
  height: 30px;
  text-align: center;
  margin: 10px;
  width: 120px;
}
